
@font-face {
  font-family: productSans;
  src: url(./product-sans/Product\ Sans\ Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  /* font-family: productSans; */
}

html, body{
  height: 100%;
  width: 100%;
}

#main{
  width: 100%;
  height: 100vh;
  display: flex;
}

#side{
  padding: 20px;
  width: 25%;
  height: 100%;
  color: #fff;
  /* background-color: #a9c4c9; */
  background-color: #2e5dccba;
  /* background-color: #4e6eb75f; */
}

#vscode__logo{
  height: 25px;
  margin-right: 10px;
}

.header_logo{
  display: flex;
  align-items: center;
  margin-bottom: 10px;  
}

#side h4{
  color: #353535;
  font-size: 20px;
}

#side #line{
  width: 100%;
  height: 2px;
  background-color: #2a4f949b;
}

.fileicon{
  margin-bottom: 10px;
}


#side .fileicon{
  margin-top: 10px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

#side .fileicon h5{
  font-weight: 500;
  opacity: .9;
  font-size: 18px;
}

#side .fileicon .icons{
  display: flex;
  gap: 10px;
}

.file{
  cursor: pointer;
  padding: 12px 22px;
  background-color: #2a4f944e;
  /* background-color: #95b4ac5f; */
  border-radius: 4px;
  margin-top: 10px;
}

a{
  color: #fff;
  text-decoration: none;
}

#right{
  position: relative;
  font-size: 20px;
  width: 75%;
  height: 100%;
  background-color: #f3f3f3;
}

#right small{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .6;
  font-size: 18px;
}

#right #rightnav{
  width: 100%;
  padding: 10px;
}

#right .openedfile{
  padding: 10px 22px;
  font-size: 14px;
  width: fit-content;
  background-color: #2f67cfa9;
  color: #fff;
  border-radius: 5px;
}

.openedfile i{
  margin-left: 10px;
}

.openedfile i:hover{
  color: #353535;
  cursor: pointer;
}

#right form{
  width: 100%;
  height: calc(100% - 60.1px);
}

#right textarea{
  outline: none;
  border: none;
  background-color: transparent;
  padding: 20px;
  font-size: 20px;
  font-family: 'consolas';
  width: 100%;
  height: 100%;
}

#right #buttonsave{
    position: absolute;
    top: 2%;
    right: 3%;
    padding: 8px 17px;
    outline: none;
    border: none;
    background-color: #2f67cfa9;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

#side form{
  display: none;
}

#side form input{
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: 3px solid #2c3a5dba;
}
